@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Lato:wght@300&family=Oswald:wght@200;300;400;500;600;700&display=swap');

/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*General styles*/

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #00273D;
    font-family: 'Cormorant Garamond', serif;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 10px 30px;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 5px #007BA7;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo*/
#logo {
    letter-spacing: 0.1rem;
    font-size: 200%;
    font-family: 'Cormorant Garamond', serif;
    margin-left: 10px;
    color: #007BA7;
    padding: 0 10px;
}

header i {
    margin-left: 12px;
    margin-bottom: 0;
    position: fixed;
    font-size: 1.5rem;
}

/* Navigation menu */
nav ul {
    font-size: 120%;
    font-family: 'Cormorant Garamond', serif;
    list-style-type: none;
    letter-spacing: 0.1rem;
    font-weight: 700;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#menu li a {
    text-decoration: none;
    color: #007BA7;
    padding: 7;

}

#menu li a:hover {
    background-color: #00273D;
    padding: 7px;
    border-radius: 5px;
}

.active {
    background-color: #00273D;
    padding: 7px;
}

header a {
    text-decoration: none;
    color: #00273D;
    margin: 0;
    padding: 0;
    border-radius: 5px;
}

/* Main Content*/

main {
    flex: 1 0 auto;
    margin-top: 68px;
    background: #ffffff;
}
/* Footer */

footer
{
    background-color: #007BA7;
    color: #ffffff;
    padding: 20px 0;
}

.container
{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#social-media ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

#social-media ul li {
display: inline-block;
margin-right: 40px;
}
  
#social-media a {
    color:#ffffff;
    font-size: 24px;
    text-decoration: none;
}

.footer-navigation ul 
{
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.footer-navigation a
{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

.footer-schedule table 
{
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}

.footer-schedule caption {
    font-weight: bold;
}

.footer-text
{
margin-top: 20px;
font-size: 20px;
}


.footer-navigation a:hover {
    text-decoration: underline;
}



/*Media query:768px and up*/
@media screen and (max-width: 768px){
header {
        flex-direction: column;
        align-items: center;

    }
header i {
    /*remove margin from the icon*/
    margin-left: 0; 
}

nav ul 
{
    font-size: 120%;
    /*add space between logo and navigation*/
    margin-top: 10px;
}

#logo {
    /*reduce font size for the school name*/
font-size: 200%;
}
}


/*Large devices (laptops and desktops, 992px and up)*/
@media screen and (min-width: 992px) {
#menu li a:hover {
    background-color: #00273D;
    padding: 0;
}
nav ul {
    font-size: 150%;
    padding: 0;
    margin-right: 20px;
}
#logo
{
    font-size: 250%;
}
}