/*Asterisk wildcard selector to override default styles added by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */

header {
    background-color: #ffffff;
    padding: 0;
    position: fixed;
    width: 100%;
    box-shadow: 0 1px 3px #00273D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    text-decoration: none;
    color: #00273D;
    margin: 0;
    padding: 0;
}

/* Adds space between icon and school name*/
header i {
    margin-left: 12px;
    margin-bottom: 0;
    position: fixed;
}

/* Navigation menu */
nav ul {
    font-size: 150%;
    list-style-type: none;
    letter-spacing: 0.3rem;
    font-weight: 800;
    margin-right: 10px;
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

#menu li a {
    text-decoration: none;
    color: #007BA7;

}

#menu li a:hover {
    background-color: #00273D;
    padding: 7px;
}

.active {
    background-color: #00273D;
    padding: 7px;
}

/* School name*/
#logo {
    letter-spacing: 0.1rem;
    font-size: 250%;
    margin-left: 10px;
    color: #007BA7;
}

/*Media query:576px and up*/
@media screen and (min-width: 320px) {
nav ul
{
    flex-direction: row;
}
    
}


@media screen and (max-idth: 768px)